ESP32CAM_MQTT-Basic/flows.json
[{"id":"aef6d16c.8580e8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"763d6b86.5e52ac","type":"mqtt in","z":"aef6d16c.8580e8","name":"","topic":"esp32/data/prueba/datos","qos":"0","datatype":"auto","broker":"31f7c2e.96d49be","nl":false,"rap":true,"rh":0,"x":130,"y":180,"wires":[["721936ce.4ed288"]]},{"id":"721936ce.4ed288","type":"debug","z":"aef6d16c.8580e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":380,"y":100,"wires":[]},{"id":"a9f36c59.542b5","type":"mqtt out","z":"aef6d16c.8580e8","name":"","topic":"esp32/output","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"31f7c2e.96d49be","x":570,"y":280,"wires":[]},{"id":"15ef3158.6bda27","type":"ui_switch","z":"aef6d16c.8580e8","name":"","label":"switch","tooltip":"","group":"baafb166.39785","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":140,"y":280,"wires":[["a9f36c59.542b5"]]},{"id":"57272f16.00d0b","type":"comment","z":"aef6d16c.8580e8","name":"","info":"52.59.111.91","x":110,"y":100,"wires":[]},{"id":"89f68ada.a30668","type":"telegram receiver","z":"aef6d16c.8580e8","name":"","bot":"40b9f168.145968","saveDataDir":"","filterCommands":false,"x":120,"y":420,"wires":[["7277655c.2f9404","a6eaa2ff.31848"],[]]},{"id":"7277655c.2f9404","type":"function","z":"aef6d16c.8580e8","name":"","func":"if (msg.payload.content == \"/on\" || msg.payload.content == \"on\"){\n    msg.payload = true;\n}\nif (msg.payload.content == \"/off\" || msg.payload.content == \"off\"){\n    msg.payload = false;\n}\nID = msg.payload.chatId;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":400,"wires":[["a9f36c59.542b5"]]},{"id":"a6eaa2ff.31848","type":"function","z":"aef6d16c.8580e8","name":"","func":"if (msg.payload.content == \"on\"){\n    msg.payload.content = \"LED encendido\";\n}\nif (msg.payload.content == \"off\"){\n    msg.payload.content = \"LED apagado\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":500,"wires":[["e262121.d6ffb7"]]},{"id":"e262121.d6ffb7","type":"telegram sender","z":"aef6d16c.8580e8","name":"","bot":"40b9f168.145968","haserroroutput":false,"outputs":1,"x":580,"y":520,"wires":[[]]},{"id":"31f7c2e.96d49be","type":"mqtt-broker","name":"","broker":"52.59.111.91","port":"1883","clientid":"victor22-flores22-vargas22","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"baafb166.39785","type":"ui_group","name":"Switch LED","tab":"254349b1.1d642e","order":1,"disp":true,"width":"6","collapse":false},{"id":"40b9f168.145968","type":"telegram bot","botname":"Bot de alertas","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"254349b1.1d642e","type":"ui_tab","name":"LED","icon":"dashboard","order":5,"disabled":false,"hidden":false}]